# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
terraform.tfvars

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
